extends:
    - "react-app"
    - "prettier"
env:
    browser: true
    node: true
    jquery: true
globals:
    React: true
    TestUtils: true
    routerHelper: true
    Set: true
parser:
    "@babel/eslint-parser"
plugins:
    - "react"
    - "react-hooks"
settings:
    import/resolver: webpack
rules:
    "react/jsx-props-no-spreading":
        - 0
    "default-param-last":
        - 0
    "react/forbid-prop-types": off
    "react/destructuring-assignment": off
