*.swp
build
node_modules
external
coverage
plugins/*
view-plugins/*
neuprint_compartments
neuprinthttp-config.json
neuprint-server
certs/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
